<!doctype html>
<html ng-app>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <title>Github User API Webapp</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
</head>

<body class="container" ng-controller="searchUserCtrl">
<div id="w" class="container ">
    <div class="box">
        <h1>Github User information App</h1>

        <p>Enter Github username below and <u>click the button</u> to display the user information and repo information.</p>

        <input id="search" type="text" ng-model="username" placeholder="Please enter User Name...">
        <a  id="ghsubmitbtn" class="btn btn-success"  href="#" ng-click="getUserinfo()">Pull User Data</a>

        <div id="ghapidata" class="clearfix"></div>
    </div>
    <div ng-show="userNotFound">
        <h2>User Info Not Found</h2>
    </div>
    <div id="lodedData" ng-show="loaded">

        <h2> {{user.name}}
            <span>
                (<a href="{{user.html_url}}" target="_blank"> {{user.login}} </a>)
            </span>
        </h2>
        <div class="repolist clearfix">
            <p ng-hide="reposFound">No repos Found!</p>

            <div ng-show="reposFound">
                <p><strong>Repos List:</strong></p>
                <ul ng-repeat="repo in repos">
                    <li><a href="{{repo.html_url}}" target="_blank"> <span class="repoinfo">{{repo.name}}</span> </a></li>
                </ul>
            </div>
        </div>
    </div>

</div>

<script>
    function searchUserCtrl($scope, $http) {
        $scope.getUserinfo = function () {
            $scope.userNotFound = false;
            $scope.loaded = false;

            $http.get("https://api.github.com/users/" + $scope.username)
                    .success(function (data) {
                        if (data.name == "") data.name = data.login;
                        $scope.user = data;
                        $scope.loaded = true;
                    })
                    .error(function () {
                        $scope.userNotFound = true;
                    });
            $http.get("https://api.github.com/users/" + $scope.username + "/repos").success(function (data) {
                $scope.repos = data;
                $scope.reposFound = data.length > 0;
            });
        }
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>

<script src="jquery-1.3.2.min.js"></script>

</body>
</html>