*{
    margin: 0;
    padding : 0;
}
body{background:url("Index_background.png") no-repeat fixed;background-size: cover;}
#w{text-align: center;}
.box h1{font-family: "Times New Roman";font-style: italic;color:black;}
.box p{ font: italic bold 20px "Times New Roman";color:black;}
.box a{width: 150px;height:40px;font-family: "Times New Roman";font-size:20px;margin-left:10px;margin-top:5px}
#lodedData{margin:20px;border-color: #0f0f0f; box-shadow:0 0 7px #9acfea;}
#lodedData h2{
    margin-top:30px;font-family:"Times New Roman";font-style: italic;}
#lodedData p{font-family: "Times New Roman";font-size: 20px;}
div ul{text-decoration: none;display: inline-block;list-style-type: none;font-family: "Times New Roman";font-size: 20px;}
.repoinfo{margin:10px;}
#search{
margin-left:30px;width: 500px;height: 50px;border: none;font-size: 10pt;color: #2e6da4;padding-left: 15px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
input#search::-webkit-input-placeholder {color: #122b40; font-style: italic}
input#search:-moz-placeholder { color: #122b40;font-style: italic}
input#search::-moz-placeholder {  /* Firefox 19+ */ color: #122b40;font-style: italic}
input#search:-ms-input-placeholder {color: #122b40;font-style: italic }
